.btn-fifth-section, .btn-first-section {
  border-radius: 20px;
  padding: 3% 6%;
  margin: 2% 4%;
  color: #fff;
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, #011B8A, #0062ff);
  box-shadow: 0 5px 10px 0.3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn-fifth-section:hover, .btn-first-section:hover {
  transform: scale(0.95);
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 10px;
  position: relative;
  outline: none;
  cursor: pointer;
  border-radius: 80px;
  box-sizing: border-box;
  margin-left: 200px;
}
.toggle-container .toggle-container-btn {
  color: #4a5568;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-container .light {
  background-color: #fff;
  margin-right: 20px;
  box-shadow: 0 5px 10px 0.3px rgba(0, 0, 0, 0.2);
}
.toggle-container .light img {
  width: 50%;
  filter: opacity(70%);
}
.toggle-container .dark img {
  width: 40%;
  filter: opacity(50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
  padding-left: 0;
}

body {
  color: #5B6E80;
  background-color: #fefefe;
  font-family: "Josefin Sans", sans-serif;
}

h1, h2, h3 {
  color: #00083D;
}

a {
  text-decoration: none;
}

hr {
  margin: 5% auto;
  border-style: dotted;
  border-width: 10px 0 0 0;
  width: 5%;
  color: #5B6E80;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4% 6% 4% 6%;
  box-shadow: 0 8px 6px 0.8px rgba(0, 0, 0, 0.04);
  background-color: #fefefe;
}
nav .nav-container h3 a {
  color: #0062ff;
  font-size: 3rem;
}
nav .nav-container .menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.9;
  width: 100px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
nav .nav-container .menu-btn-burger {
  width: 60px;
  height: 6px;
  background: #5B6E80;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
nav .nav-container .menu-btn-burger::before, nav .nav-container .menu-btn-burger::after {
  content: "";
  position: absolute;
  height: 6px;
  background: #5B6E80;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
nav .nav-container .menu-btn-burger::before {
  width: 50px;
  margin-left: 0.6rem;
  transform: translateY(-16px);
}
nav .nav-container .menu-btn-burger::after {
  width: 40px;
  margin-left: 1.2rem;
  transform: translateY(16px);
}
nav .nav-container .menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}
nav .nav-container .menu-btn.open .menu-btn-burger::before {
  width: 40px;
  margin-left: 1.5rem;
  transform: rotate(45deg) translate(17px, -35px);
}
nav .nav-container .menu-btn.open .menu-btn-burger::after {
  width: 40px;
  margin-left: 1.5rem;
  transform: rotate(-45deg) translate(17px, 35px);
}
nav .menu-items {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
  padding: 10% 0;
  position: relative;
  z-index: 1;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
nav .menu-items li {
  font-size: 3rem;
  padding: 30px 0;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
nav .menu-items a {
  display: block;
  color: #5B6E80;
}
nav .menu-items .contact {
  color: #0062FF;
}
nav .menu-items.show {
  display: flex;
  animation: fadeIn cubic-bezier(0.5, 0, 0, 1) 0.75s forwards;
}
nav .menu-items.hide {
  display: flex;
  animation: fadeOut cubic-bezier(0.5, 0, 0, 1) 0.75s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20%);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in {
  opacity: 0;
}

.fade-in.appear {
  opacity: 1;
  animation: slideUp cubic-bezier(0.5, 0, 0, 1) 1s forwards;
}

#first-section {
  padding: 35% 6% 0 6%;
  text-align: center;
}
#first-section .first-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#first-section .first-section-container .first-section-content h1 {
  margin: 0;
  padding: 0 5% 5% 5%;
  line-height: 6.6rem;
  font-size: 5rem;
}
#first-section .first-section-container .first-section-content .hello {
  font-size: 2.5rem;
  padding-bottom: 8%;
}
#first-section .first-section-container .first-section-content .brief-info {
  padding: 0 0 10% 0;
  line-height: 4.5rem;
  font-size: 2.5rem;
}
#first-section .first-section-container .first-section-content .about {
  color: #0062ff;
  font-size: 2rem;
}
#first-section .first-section-container img {
  width: 70%;
  margin: 20% 0 20% 0;
}

.section-header {
  font-size: 4.5rem;
  padding-bottom: 6%;
}

#capabilities {
  padding: 8% 6% 8% 6%;
  text-align: center;
}
#capabilities .second-section-container img {
  width: 15%;
  padding: 8% 0 0 0;
}
#capabilities .second-section-container h2 {
  margin-bottom: 13%;
}
#capabilities .second-section-container h3 {
  font-size: 2.5rem;
  margin-bottom: 7%;
}
#capabilities .second-section-container ul {
  margin-bottom: 7%;
}
#capabilities .second-section-container ul li {
  padding: 2% 0;
  margin: 0;
  font-size: 1.5rem;
}

.fourth-section {
  padding: 15% 10%;
  text-align: center;
}
.fourth-section .fourth-section-container ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.fourth-section .fourth-section-container ul li {
  margin: 3%;
}
.fourth-section .fourth-section-container ul li .box-sm {
  padding: 20% 0 20% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  width: 320px;
  height: 320px;
  border-radius: 1.5rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05), 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
.fourth-section .fourth-section-container ul li .box-sm img {
  width: 50%;
}
.fourth-section .fourth-section-container ul li .box-sm .sql {
  width: 40%;
}
.fourth-section .fourth-section-container ul li .box-sm .mongodb {
  width: 75%;
  padding-bottom: 30px;
}
.fourth-section .fourth-section-container ul li .box-sm p {
  font-size: 2.5rem;
  font-weight: 700;
}

#fifth-section {
  padding: 8% 6% 0 6%;
  text-align: center;
}
#fifth-section .fifth-section-container .contact1 h3 {
  font-size: 3rem;
  margin: 5% 10%;
  line-height: 5rem;
}
#fifth-section .fifth-section-container .contact1 p {
  color: #0062FF;
  font-size: 2.5rem;
  padding-bottom: 10%;
}
#fifth-section .fifth-section-container .contact2 {
  padding: 15% 0 25% 0;
}
#fifth-section .fifth-section-container .contact2 p {
  font-size: 2.4rem;
}

#last-section {
  color: #fff;
  padding: 20% 6% 10% 6%;
  text-align: center;
  background-color: #153A82;
}
#last-section .last-section-container a {
  color: #fff;
  font-size: 4rem;
  padding: 8% 2.5%;
}
#last-section .last-section-container p {
  color: #fff;
  padding-top: 8%;
  font-size: 0.8rem;
  line-height: 2rem;
}

/*# sourceMappingURL=styles.css.map */
