%btn {
  border-radius: 8px;
  padding: 0.7rem 1rem;
  margin: 0.75rem 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-image: linear-gradient(90deg,#22A39F,#27496d);
  box-shadow: 0 2px 8px 0 rgba(0,34,255,.08), 0 2px 8px 0 rgba(0,11,80,.12);
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(120deg,#27496d, #22A39F);
    box-shadow: 0 2px 8px 0 rgba(0,34,255,.08), 0 2px 8px 0 #222831;
  }
}

.btn {
  @extend %btn;
}

.btn-tech {
  @extend %btn;
  padding: .6rem 2rem;
  cursor: text;
}

.contact {
  border-radius: 8px;
  padding: .6rem 1.1rem;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(90deg,#22A39F,#27496d);
  box-shadow: 0 2px 8px 0 rgba(0,34,255,.08), 0 2px 8px 0 rgba(0,11,80,.12);
  cursor: pointer;
}

.contact:hover {
  background-image: linear-gradient(120deg,#27496d, #22A39F);
  box-shadow: 0 2px 8px 0 rgba(0,34,255,.08), 0 2px 8px 0 #222831;
}

@media screen and (min-width: 768px) {
  %btn {
    padding: 1rem 1.2rem;
    margin: 0.75rem 0;
    font-size: 1rem;
  }

  .btn-tech {
    @extend %btn;
    padding: .6rem 2rem;
  }

  .contact {
    padding: 0.7rem .08rem;
    margin: 0.75rem 0 0.75rem 3rem;
  }
}
