%btn {
  border-radius: 20px;
  padding: 3% 6%;
  margin: 2% 4%;
  color: #fff;
  font-size: 1.5rem;
  background-image: linear-gradient(90deg,#011B8A,#0062ff);
  box-shadow: 0 5px 10px 0.3px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &:hover {
    transform: scale(.95);
  }
}

.btn-first-section {
  @extend %btn;
}

.btn-fifth-section {
  @extend %btn;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.07);
  padding: 10px;
  position: relative;
  outline: none;
  cursor: pointer;
  border-radius: 80px;
  box-sizing: border-box;
  margin-left: 200px;

  .toggle-container-btn {
    color: #4a5568;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .light {
    background-color: #fff;
    margin-right: 20px;
    box-shadow: 0 5px 10px 0.3px rgba(0, 0, 0, 0.2);

    img {
      width: 50%;
      filter: opacity(70%);
    }
  }

  .dark {
    img {
      width: 40%;
      filter: opacity(50%);
    }
  }


}
